*, *::before, *::after {
    box-sizing: border-box;
    margin:0;
    padding:0;
    
}

/* css variables 
    base-[num]: base is the tag, num refers to the type (e.g. bold, light, etc.)
*/
:root{
    --base: rgb(71, 71, 71);
    --base-100: rgb(173, 163, 163);
    --base-800: black;
    --yellow: #ffda4b;
    --yellow-100: #fadd4f;
    --yellow-800: #8b6f00;
    --blue:#0a61ae;
    --blue-100: #e2f8ff;
    --blue-400: #61dafb;
    --blue-800: #0a61ae;
    --brown: #ede7dc;
    --brown-100: #DCD2CC;
    --brown-400: #CCAFA5;
    --brown-800: #BDC3CB;
}

body {
  font-family: "Nunito", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-size: 20px;
  /* temporary to view content below during editing */
  padding-bottom: 1000px;
}

a {
    text-decoration: none;
    /* need to add hover because text decoration was removed (line 34) */
    color: var(--base);
}

header {
    padding-top: 10px;
    padding-bottom: 10px;
    /* padding-left: 100px;
    padding-right: 100px; */
    display: flex;
    justify-content: space-between;
    max-width: 1440px;
    margin: auto;
    border-bottom: 1px solid rgba(0, 0, 0, 1);

    .logo-holder {
        display: flex;
        padding: 10px;
        align-items: center;
        font-weight: 600;
        color: var(--base);
        .logo {
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 32px;
            background-color: var(--base);
            color: var(--brown-100);
            height: 64px;
            width: 64px;
            margin-right: 20px;
            border-radius: 50%;
         }

        .logo-text{
            flex:1;
         }
    }

    nav {
        display: flex;
        align-items: center;
        ul {
            display: flex;
            list-style-type: none;
            gap:5px;
            li {
                display: inline-block;
                a {
                    display: inline-block;
                    padding: 10px 20px;
                    color: var(--base);
                    &:hover {
                        background-color: var(--base-100);
                        border-radius: 10px;
                        text-decoration: none;
                    }
                }
            }
        }
        .mobile-toggle {
            display: none;
            color: var(--base);
            padding: 10px;
            @media (max-width:768px) {
                display: inline-block;
                position: absolute;
                top:20px;
                right:20px;
            }
        }
    }

    /* iPad view */
    @media (max-width: 1024px) {
        flex-direction:column;
        align-items: center;
    }

    /* mobile view */
    @media (max-width: 768px) {
        flex-direction:column;
        align-items: center;
        nav {
            margin-top: 10px;
            width: 100%;
            ul {
                display: none;
                flex-direction: column;
                text-align:center;
                width:100%;
                a { 
                    width:100%;
                }
                /* toggleMobileMenu() will toggle this item */
                &.active {
                    display:flex;
                }
            }
        }
    }
}

.container {
    max-width:1440px;
    margin:auto;
    gap:30px;
    margin-top:30px;
    margin-bottom: 30px;

    /* if window collapses to less than 1440px, there will be padding on left and right */
    @media (max-width: 1440px){
        padding-left: 30px;
        padding-right: 30px;
    }
}

.button{
    display:inline-block;
    padding: 10px 30px;
    background-color: var(--blue);
    color: var(--base-100);
    border-radius: 10px;
    transition: ease 0.5s all;
    &:hover {
        text-decoration:none;
        background-color: green;
    }
    &.white {
        background-color: white;
        color: black;
        &:hover {
            background-color:  var(--blue);
            color: white;
        }
    }
    &.black {
        background-color: black;
        color: white;
        &:hover {
            background-color: white;
            color:  var(--blue);
        }
    }
}

h1 {
    font-size: 64px;
    line-height: 1;
    margin-bottom: 10px;
    small {
        display: block;
        font-weight: 100;
    }
    /* media refers to display of your media (website) */
    @media (max-width: 1024px) {
        font-size: 48px;
    }
}

.hero{
    display: flex;
    @media (max-width: 1024px){
        flex-direction: column;
    }
    .hero-blue {
        flex: 1; 
        background-color: var(--blue-100);
        border-radius: 30px;
        padding: 30px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        span {
            @media (max-width:1024px) {
                display:none;
            }
        }
        .call-to-action {
            margin-top: 20px;
            margin-bottom: 10px;
            a {
                margin-right: 10px;
                margin-bottom: 10px;
            }
        }
        .social-links {
            a {
                &:hover {
                    text-decoration:none;
                }
            }
        }
    }
    .hero-yellow {
        flex: 1;
        background-color: var(--brown);
        border-radius: 30px;
        padding: 0px 30px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        
        img {
            border-radius: 10px;
            max-width: 800px;
            height: 450px;
            object-fit: cover;
        }

        /* Slideshow container */
        .slideshow-container {
            position: relative;
            margin-top: 20px;
            display: flex;
        }

        /* The dots/bullets/indicators */
        .dot {
            margin-right: 10px;
            margin-bottom: 20px;
            height: 15px;
            width: 15px;
            margin: 0 2px;
            background-color: #bbb;
            border-radius: 50%;
            display: inline-block;
            transition: background-color 0.6s ease;
        }

        .active {
        background-color: #717171;
        }

        /* Fading animation */
        .fade {
        animation-name: fade;
        animation-duration: 4.5s;
        }
  
        @keyframes fade {
            from {opacity: .6} 
            to {opacity: 1}
        }
    }

}

.logos {
    background-color: var(--base-100);
    align-items: center;
    height: 190px;
    border-radius: 30px;
    padding: 30px 0px;
    @media (max-width: 1024px) {
        border-radius: 0px;
    }
    .marquee   {
        width: 100vw;
        align-items: center;
        max-width: 100%;
        height: 190px;
        overflow: hidden;
        /* relative position keeps content in one line */
        position: relative;
        .track {
            position: absolute;
            white-space: nowrap;
            will-change: transform;
            animation: marquee 240s linear infinite;
            display: flex;
            gap: 10px
        }
    }
}

/* LOGOS SLIDING MECHANISM */
@keyframes marquee {
    0% {
        transform: translateX(0);
    }
    /* at 50% of all elements, slide back */
    50% {
        transform: translateX(-100%);
    }
}

h2 {
    font-size: 64px;
    line-height: 1;
    margin-bottom: 10px;
    text-align:center;
    color: var(--base-800);
    padding: 30px;
    small {
        display: block;
        font-weight: 100;
        font-size:0.5em;
        color:var(--base);
    }
    @media (max-width: 1024px) {
        font-size: 48px;
    }
}

h3 {
    font-size: 32px;
    font-weight: 600;
    line-height: 1;
    margin-bottom: 20px;
    color: var(--base-800);
}

.skills {
    .holder-blue {
        background-color: var(--blue-100);
        border-radius: 30px;
        padding: 30px;
        display: flex;
        @media(max-width:1024px){
            flex-direction: column;
        }
        .left-column {
            flex: 1;
            ul {
                list-style-type: none;
                gap: 10px;
                margin-right: 100px;
                margin-bottom: 20px;
                li {
                    display: inline-block;
                    background-color: var(--blue-400);
                    padding: 10px 20px;
                    border-radius: 15px;
                    margin-bottom: 10px;
                }
            }
        }
        .right-column {
            flex: 1;
            p {
                margin-bottom: 20px;
                font-size: 24px;
                line-height: 40px;
            }
        }
    }
}

.work-experience {
    .jobs {
        display: flex;
        gap: 30px;
        @media (max-width: 1024px) {
            flex-direction: column;
        }
        a {
            text-decoration: none;
            /* need to add hover because text decoration was removed (line 34) */
            color: var(--base-800);
            display: block;
            padding: 10px 10px;
            &:hover {
                background-color: var(--base-100);
                border-radius: 10px;
                text-decoration: none;
            }
        }
        article {
            background-color: var(--brown-100);
            padding: 30px;
            border-radius: 30px;
            flex: 1;
            h3 {
                margin-top: 20px;
                margin-bottom: 10px;
            }
            div {
                font-weight: 600;
                margin-bottom: 5px;
                color: var(--base-800);
            }
            p {
                margin-bottom: 10px;
            }
            figure {
                width: 100%;
                padding-top: 56.25%;
                position: relative;
                border-radius: 15px;
                img {
                    position: absolute;
                    top: 0;
                    left: 0;
                    height: 100%;
                    /* adjusts sizing of awkward image size */
                    object-fit: cover;
                    border-radius: 15px;
                    transition: ease 5s all;
                }
                figcaption {
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    right: 0;
                    background-color: rgba(0, 0, 0, 0.5);
                    color: var(--blue-100);
                    text-align: center;
                    padding: 10px;
                    opacity: 0;
                    visibility: hidden;
                    border-radius: 15px;
                    transition: ease 0.5s all;
                }

                &:hover {
                    figcaption {
                        opacity:1;
                        visibility: visible;
                    }
                    img {
                        transform: scale(1.2);
                    }
                }
            }
        }
    }
}

.bento {
    .bento-grid {
        display: grid;
        grid-gap: 30px;
        /* 5 col x 4 row grid set up */
        grid-template-columns: repeat(5, 1fr);
        grid-template-rows: repeat(4, 1fr);
        height: 960px;
        @media (max-width:1024px){
            /* for smaller screen sizes, change the grid layout completely and add media decorator to all other grid nth-childs*/
            grid-template-rows: repeat(8, 1fr);
        }
        @media (max-width: 760px) {
            display: flex;
            flex-direction: column;
            gap: 30px;
            height: auto;
        }
        .bento-item {
            padding: 30px;
            background: var(--base-100);
            border-radius: 15px;
            position: relative;
            overflow: hidden;
            img {
                position: absolute;
                top: 0;
                left: 0;
                height: 100%;
                /* adjusts sizing of awkward image size */
                object-fit: cover;
                border-radius: 15px;
                transition: ease 5s all;
            }
            @media (max-width: 760px) {
                height: 240px;
            }
            /* customize individual grid in the bento by calling nth-child */
            &:nth-child(1) {
                grid-column: span 2;
                grid-row: span 2;
                @media (max-width:1024px){
                    grid-column: span 2;
                    grid-row: span 2;
                }
            }
            &:nth-child(2) {
                grid-column: span 2;
                grid-row: span 1;
                @media (max-width:1024px){
                    grid-column: span 3;
                    grid-row: span 2;
                }
            }
            &:nth-child(3) {
                grid-column: span 1;
                grid-row: span 1;
                @media (max-width:1024px){
                    grid-column: span 3;
                    grid-row: span 2;
                }
            }
            &:nth-child(4) {
                grid-column: span 1;
                grid-row: span 1;
                @media (max-width:1024px){
                    grid-column: span 2;
                    grid-row: span 4;
                }
            }
            &:nth-child(5) {
                grid-column: span 2;
                grid-row: span 1;
                @media (max-width:1024px){
                    grid-column: span 3;
                    grid-row: span 4;
                }
            }
            &:nth-child(6) {
                grid-column: span 5;
                grid-row: span 3;
                @media (max-width:1024px){
                    grid-column: span 5;
                    grid-row: span 2;
                }
            }
        }
    }
}

.chatbot {
    .chatbot-blue {
        background-color: var(--blue-100);
        border-radius: 30px;
        padding: 30px;
        gap: 30px;
        display: flex;
        @media (max-width:1024px) {
            flex-direction:column;
        }
        p {
            margin-bottom: 30px;
        }
        .chat-info {
            flex: 3;
            padding-right: 30px;
        }
        .chat-box {
            flex: 4;
            background: white;
            border-radius: 15px;
            padding: 30px;
            display: flex;
            flex-direction: column;
            .scroll-area {
                max-height: 300px;
                height: 300px;
                overflow-y: scroll;
                ul {
                    display: flex;
                    flex-direction: column;
                    justify-content: flex-end;
                    gap: 15px;
                    li {
                        display: flex;
                        align-items: center;
                        gap: 15px;

                        /* every user (even) message layout will be flipped in the other direction */
                        &:nth-child(even) {
                            text-align: right;
                            justify-content:flex-end;
                            flex-direction: row-reverse;

                            span{
                                background-color: var(--brown);
                            }
                        }

                        span {
                            background-color: var(--blue-400);
                            width: 64px;
                            height: 64px;
                            border-radius: 50%;
                            display: inline-flex;
                            align-items: center;
                            justify-content: center;

                            /* for screen responsiveness */
                            @media(max-width: 768px) {
                                width: 48px;
                                height: 48px;
                            }

                        }
                        div {
                            /* use up remaining space of parent tags making the AI and User tags circle */
                            flex: 1;
                        }
                    }
                }
            }

            /* chat message input */
            .chat-message{
                display: flex;
                margin-top: 15px;
                gap: 15px;
                input: {
                    border-radius:10px;
                    flex:1;
                    padding: 15px;
                    border:1px solid transparent;
                    background-color: var(--base-100);
                    &:hover {
                        outline: none;
                        background-color: white;
                        border: 1px solid var(--base-100)
                    }
                    &:focus {
                        outline: none;
                        background-color: white;
                        border: 1px solid var(--base-100)
                    }
                }
                button {
                    border: none;
                    cursor: pointer;
                }
            }
        }
    }
}